html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}



body {
	line-height: 1;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------*/

nav a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 0.5em;
	margin: 0.3em 0.5em;
}

	nav a:hover {
		background: white;
		text-decoration: none;
		border-radius: 10px;
		color: #1649FF;
		font-weight: bold;
	}



.btn-menu-lateral, .btn-acesso-rapido {
	display: none;
	padding: 0.5em 0px;
	align-self: end;
	text-align: center;
	color: #fff;
}

#acesso-rapido {
	align-self: center;
}

	#acesso-rapido .btn-menu-superior:first-child button {
		width: 168px;
	}


.btn-menu {
	color: #fff;
	background: #446af7;
}

.btn-menu-superior {
	padding: 0;
	text-align: center;
	display: block;
}

#divCadastro .btn-primary {
	background: #ffffff;
	color: #1649FF;
	font-weight: bold;
}

	#divCadastro .btn-primary:hover {
		background: #2B70E4;
		color: white;
	}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.conteudo-links {
	position: sticky;
	top: 0px;
	max-height: 90vh;
	overflow-y: scroll;
	scrollbar-width: thin;
}

.conteudo-principal {
	padding: 1em;
}

.collapsing {
	transition: none;
	position: fixed;
}

.dropdown-toggle {
	white-space: normal;
}

	.dropdown-toggle::before {
		display: inline-block;
		margin-left: 0.255em;
		vertical-align: 0.5em;
		content: "";
		border-top: 0.3em solid;
		border-right: 0.3em solid transparent;
		border-bottom: 0;
		border-left: 0.3em solid transparent;
		position: absolute;
		right: 21px;
		margin: 0.3em;
	}

	.dropdown-toggle::after {
		display: none;
	}

.hd {
	display: flex;
	justify-content: center;
}

.header {
	background: linear-gradient(to right, #424242, #370808);
	justify-content: space-evenly;
	width: 100%;
}

header {
	background: linear-gradient(to right, #424242, #370808);
	width: 100vw;
	height: 150px;
	display: block;
	justify-content: center;
}


	header div {
		display: inline-block;
		max-height: 190px;
	}

img {
	width: 40px;
}

.img-header {
	width: 250px;
	margin: 0.5em;
}

.itens-lista:hover {
	background: rgba(243, 57, 57, 0.85);
	border-radius: 10px 0px 0px 10px;
	cursor: pointer;
}

	.itens-lista:hover img, .itens-lista:hover label {
		transform: scale(1.12);
		transition: all 0.4s ease-in-out;
		cursor: pointer;
	}

.itens-lista {
	text-align: center;
	padding: 0.5em;
	transition: 0.3s
}

nav label {
	font-size: 0.67em;
	display: block;
	color: #fff;
}

.links {
	display: block;
	position: absolute;
	top: 0px;
	left: 100px;
	background: rgb(128 128 128);
	width: 250px;
	padding: 1em 0px;
	height: 100%;
	text-align: left;
	border-radius: 0px 10px 10px 0px;
	visibility: hidden;
	backdrop-filter: blur(2px);
	z-index: 9;
}

main {
	margin-left: 90px;
	padding: 1em;
	max-height: 60%;
	overflow: auto;
}


.menu-lateral {
	background: #424242 ;
	width: 90px;
	/*-webkit-box-shadow: 1px 3px 30px -3px rgba(0,0,0,0.51);
	-moz-box-shadow: 1px 3px 30px -3px rgba(0,0,0,0.51);
	box-shadow: 1px 3px 30px -3px rgba(0,0,0,0.51);*/
}

.menu-header {
	padding-bottom: 1em;
}

.menu-footer {
	padding-top: 1em;
	height: 100%;
}


nav {
	display: inline-block;
	position: relative;
	top: 0px;
	background: #424242;
	z-index: 9;
	width: 100px;
}

.row {
	margin-left: 0px;
}

.scroll::-webkit-scrollbar-track {
	border: 0.5px solid #1649FF;
	padding: 2px 0;
	background-color: #446af7;
}

.scroll::-webkit-scrollbar {
	width: 5px;
}

.scroll::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #ffffff;
	border: 1px solid #1649FF;
}


.sub-btn {
	direction: ltr;
}



.sub-menu {
	display: none;
	font-style: italic;
	border-radius: 10px;
	padding: 0.3em;
	background: white;
}

	.sub-menu a {
		padding-left: 0.8em;
		color: #446af7;
	}

		.sub-menu a:hover {
			background: #446af7;
			color: white;
		}



.usuario {
	align-self: center;
	padding: 0.5em;
}

	.usuario img {
		width: 60px;
	}

	.usuario label {
		font-size: 0.8em;
	}

	.usuario .itens-lista:hover {
		border-radius: 10px;
	}


nav ul {
	padding: 1em 0px;
	overflow: auto;
}

.ul-reset {
	padding: 0px;
	overflow: unset;
}

.circular--square, .foto__upload img {
	object-fit: cover;
}


.top15 {
	padding-top: 15px;
}

.top30 {
	padding-top: 30px;
}


.titulo__secao {
	font-weight: bold;
	font-size: 1em;
	padding: 1.1em;
	margin: 0.5em;
	border-bottom: 1px solid;
	color: #446af7;
}

.titulo-principal {
	text-align: center;
	font-size: 1.2em;
	color: #dc3545;
	font-weight: bolder;
	text-transform: uppercase;
}

.botao__pesquisa {
	vertical-align: bottom;
	margin: 0px 0.5em;
}

.caixa__check label {
	padding: 0.5em;
}

.campos__form {
	padding: 0.5em;
}

.campo__validacao {
	display: inline-block;
	width: 96%;
}

.foto__div_imagem {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.foto__upload {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 1px solid #446af7;
}

.foto__btn {
	margin: 0.3em;
}

.caixa-indicadores {
	justify-content: center;
	align-content: center;
	display: grid;
}

	.caixa-indicadores label {
		font-weight: bold;
	}

	.caixa-indicadores input {
		font-size: 2em;
		width: 400px;
		cursor: auto !important;
	}



label {
	padding: 0.5em 0px;
}

.secao {
	padding: 1em 0px;
}

span img {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

#ContentPlaceHolder1_ckUf td {
	padding: 0px 0.3em;
}

@media screen and (max-width:600px) {
	.borda {
		border-bottom: 1px solid #446af7;
	}
}

.card-header a {
	color: #dc3545;
}

.campos-erros ul {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 8px;
	padding: 16px 0px;
	text-align: initial;
}

.campos-erros {
	font-weight: bold;
	background: #dc3545;
	margin: 8px 0;
	padding: 15px;
	border-radius: 15px;
	color: white;
	text-align: center;
}

.nav-tabs .nav-link {
	border: 1px solid #00000030 !important;
	border-bottom: 1px solid #00000012 !important;
}

/*Telas menores*/



@media screen and (max-width:740px) {
	.btn-menu-lateral, .btn-acesso-rapido {
		display: block;
	}

	.menu-lateral {
		width: 0px;
	}

	.conteudo-principal {
		margin-left: 0px;
	}

	#acesso-rapido {
		width: 100%;
		background: rgba(68, 107, 247, 0.9);
		border-radius: 10px;
		backdrop-filter: blur(9px);
		padding: 1em;
		position: absolute;
		z-index: 9;
	}

	.col-8 {
		max-width: 100%;
	}

	.usuario .itens-lista, .usuario {
		display: block;
	}

	#acesso-rapido div:first-child button {
		margin: 0.3em;
	}


	.btnCompacto {
		padding-left: 15px
	}
}

@media screen and (max-width:500px) {
	header div:nth-child(2) {
		margin-left: 0px;
	}

	nav {
		width: 100px;
	}

	.links {
		width: 250px;
		left: 100px;
	}
}

@media screen and (max-width:460px) {
	.btn-acesso-rapido, .btn-menu-lateral {
		align-self: end;
	}





	#acesso-rapido {
		top: 172px;
	}
}

@media screen and (max-width:437px) {
	.img-header {
		width: 150px;
	}

	#acesso-rapido {
		top: 116px;
	}
}


@media screen and (max-width:360px) {


	.btn-acesso-rapido, .btn-menu-lateral {
		align-self: end;
	}


	#acesso-rapido {
		width: 100%;
		background: rgba(68, 107, 247, 0.66);
		border-radius: 10px;
		backdrop-filter: blur(9px);
		padding: 1em;
	}

	.col-8 {
		max-width: 100%;
	}

	.content {
		padding-left: 90px;
	}
}

td {
	vertical-align: top;
}

/* ===== Ajustes consolidados de layout (rodapé, flexbox, responsividade) ===== */


/* Reset básico */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Lucida Sans', Verdana, sans-serif;
	line-height: 1.4;
}

/* Estrutura flexível para respeitar o rodapé */
body, form#form1 {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container-fluid {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding-left: 0;
	padding-right: 0;
}

#tdConteudo {
	flex: 1;
	overflow-y: auto;
}

/* Footer fixo no final */
footer {
	flex-shrink: 0;
}

/* Área do usuário */
.usuario {
	align-self: center;
	padding: 0.5em;
}

	.usuario img {
		width: 60px;
		object-fit: cover;
	}

	.usuario label {
		font-size: 0.8em;
	}

	.usuario .itens-lista:hover {
		border-radius: 10px;
	}

/* Imagens circulares */
.circular--square {
	border-radius: 50%;
	object-fit: cover;
}

/* Indicadores */
.caixa-indicadores {
	display: flex;
	flex-direction: column;
	align-items: center;
}

	.caixa-indicadores label {
		font-weight: bold;
	}

	.caixa-indicadores input {
		font-size: 2em;
		width: 400px;
		cursor: auto !important;
	}

/* Títulos */
.titulo__secao {
	font-weight: bold;
	font-size: 1em;
	padding: 1.1em;
	margin: 0.5em;
	border-bottom: 1px solid;
	color: #446af7;
}

.titulo-principal {
	text-align: center;
	font-size: 1.2em;
	color: #dc3545;
	font-weight: bolder;
	text-transform: uppercase;
}

/* Campos e formulários */
.campos__form, .caixa__check label, label {
	padding: 0.5em;
}

.campo__validacao {
	display: inline-block;
	width: 96%;
}

/* Fotos */
.foto__div_imagem {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.foto__upload {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 1px solid #446af7;
	object-fit: cover;
}

.foto__btn {
	margin: 0.3em;
}

/* Erros */
.campos-erros {
	font-weight: bold;
	background: #dc3545;
	margin: 8px 0;
	padding: 15px;
	border-radius: 15px;
	color: white;
	text-align: center;
}

	.campos-erros ul {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-gap: 8px;
		padding: 16px 0;
		text-align: initial;
	}

/* Responsividade */
@media screen and (max-width:740px) {
	.btn-menu-lateral, .btn-acesso-rapido {
		display: block;
	}

	.menu-lateral {
		width: 0;
	}

	.conteudo-principal {
		margin-left: 0;
	}

	#acesso-rapido {
		width: 100%;
		background: rgba(68, 107, 247, 0.96);
		border-radius: 10px;
		backdrop-filter: blur(9px);
		padding: 1em;
		position: absolute;
		top: 167px;
		z-index: 9;
	}
}

@media screen and (max-width:460px) {
	#acesso-rapido {
		top: 172px;
	}
}

@media screen and (max-width:437px) {
	.img-header {
		width: 150px;
	}

	#acesso-rapido {
		top: 116px;
	}
}

@media screen and (max-width:360px) {
	#acesso-rapido {
		background: rgba(68, 107, 247, 0.66);
	}

	.content {
		padding-left: 90px;
	}
}

/* Ajustes gerais */
td {
	vertical-align: top;
}
